@font-face {
    font-family: "Rubik";
    src: local(fonts/Rubik-Medium);
}

p, h1, h2, h3, li{
    font-family: "Rubik";
    color: white;
}

#intro {
    background: rgb(20,20,20);
    height: 385px;
}

body {
    background: rgb(43,43,43);
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

.intro {
    max-width: 35%;
    font-size: 26.5pt;
    position: absolute;
    right: 80px;
    top: 50px;
}

.introTitle {
    font-size: 32pt;
    right: 150px;
    text-align: center;
    top: 20px
}

.sp1 {
    position: absolute;
    width: 99%;
    height: 99%;
    z-index: -1;
    top: 300px;
}

.sp2 {
    position: absolute;
}

.FLuambo {
    left: 470px;
    position: absolute;
    height: 300px;
    width: auto;
}

.video1 {
    position: absolute;
    left: 710px;
    aspect-ratio: 4/3;
    height: 300px;
    width: 400px
}

#history {
    position: absolute;
    top: 1000px;
    width: 100%;
    background: rgb(20,20,20);
    height: 910px
}

.brief-history {
    text-align: center;
    font-size: 24pt;
    left: 30%;
    max-width: 40%;
    position: absolute;
    top: 100px;
}

.brief-history-title {
    text-align: center;
    font-size: 24pt;
    left: 39%;
    max-width: 40%;
    position: absolute;
}

.begginings {
    position: absolute;
    text-align: center;
    font-size: 24pt;
    left: 3%;
    max-width: 40%;
    top: 270px;
}

.usrock {
    position: absolute;
    text-align: center;
    font-size: 24pt;
    right: 3%;
    max-width: 40%;
    top: 270px;
}

.swahili {
    position: absolute;
    text-align: center;
    font-size: 24pt;
    left: 3%;
    max-width: 40%;
    top: 570px;
}

.variants {
    position: absolute;
    text-align: center;
    font-size: 24pt;
    right: 3%;
    max-width: 40%;
    top: 570px;
}

.tpok {
    width: 99%;
    height: 99%;
    z-index: -1;
    position: absolute;
    top: 900px;
}

#characteristics {
    background: rgb(20,20,20);
    top: 2600px;
    height: 700px;
    width: 100%;
    position: absolute;
}

.char-title {
    text-align: center;
    font-size: 48pt;
}

.char {
    text-align: center;
    font-size: 32pt;
}

.large {
    text-align: left;
    max-width: 30%;
    font-size: 24pt;
}

.large-img {
    max-height: 320px
}

.folk {
    text-align: center;
    max-width: 30%;
    position: absolute;
    top: 270px;
    font-size: 24pt;
    left: 33%;
}

.folk-img {
    max-width: 550px;
    max-height: auto;
}

.fast {
    text-align: center;
    max-width: 30%;
    position: absolute;
    top: 270px;
    font-size: 24pt;
    left: 66%;
}

#artists {
    background: rgb(20,20,20);
    position: absolute;
    top: 4000px;
    width: 100%;
    height: 145%;
}

.sp3 {
    position: absolute;
    z-index: -1;
    max-width: 99%;
    max-height: 99%;
    align-items: center;
    scale: 2.2;
    left: 500px;
    top: 1000px;
}

.notaTitle {
    text-align: center;
    font-size: 48pt;
}

.notable {
    text-align: center;
    font-size: 32pt;
    text-align: center;
}

.Luambo {
    text-align: left;
    max-width: 48%;
    font-size: 24pt;
    position: absolute;
}

.sam {
    text-align: right;
    position: absolute;
    max-width: 48%;
    font-size: 24pt;
    right: 2%
}

.papa {
    text-align: left;
    position: absolute;
    max-width: 48%;
    font-size: 24pt;
    left: 2%;
    top: 600px;
}

.tabu {
    text-align: right;
    position: absolute;
    max-width: 48%;
    font-size: 24pt;
    right: 2%;
    top: 800px;
}
